* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: rgb(0, 107, 214);
}

body {
  margin-top: 64px;
  font-family: Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(241, 232, 232);
  display: flex;
  align-items: center;
}

header .header-links {
  margin-left: 1em;
  display: flex;
  align-items: center;
}

header .header-links a {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

header .header-links img {
  max-width: 32px;
}

header .header-buttons {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header button {
  width: 200px;
  padding: 0.5em;
  background-color: var(--header-color);
  color: white;
  margin-right: 1em;
  font-weight: bold;
}

header button:disabled {
  background-color: rgb(173, 173, 173);
}

.app-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: black;
  box-sizing: content-box;
}

.hero-panel-block {
  display: flex;
  justify-content: space-between;
}

.score p {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

.app-container.landscape {
  display: flex;
  justify-content: center;
  max-width: 1140px;
}

.app-container.landscape .hero-panel {
  display: flex;
  padding: 0 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-container.landscape .slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container.landscape .sliders {
  display: flex;
  justify-content: space-between;
}

.app-container.landscape input[type="range"] {
  writing-mode: vertical-lr;
  direction: rtl;
  margin: 5px;
  vertical-align: bottom;
}

.color-picker {
  border: 3px solid white;
}

.color-picker div {
  height: 30px;
  transition: 0.2s;
}

.color-picker div:hover {
  transform: scale(1.1);
  border: 1px solid white;
}

.color-picker div:active {
  transform: scale(0.95);
}

.color-picker p {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-bottom: none;
  font-size: 14px;
  text-align: center;
}

.color-picker div:last-of-type {
  border: 1px solid black;
  border-top: none;
}

@media (max-width: 600px) {
  header button {
    width: 100px;
    margin: 1px;
  }
  header .header-links {
    margin: 0;
  }
}
